/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

h1 {
	color: #444;
}

a {
	color: #D12838;
	padding-right: 5px;
}

ul {
	list-style: none;
}

li {
	margin-bottom: 4px;
}

li a {
	color: #444;
}

li.deleted_true a {
	color: #D12838;
}